<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        :root {
            --bg: #37342f;
            --text: #ede5d0;
            --button-color #776b5f;
            --button-hover #934739;
        }
        ul {
            display:inline;
            list-style:none;
            padding-inline-start: 2em;
        }
        li {
            display:inline;
            font-size: 2em;
            margin-left: .5em;
            margin-right: .5em;

        }
        h1 {
            margin-left: 1em;
            font-size: 3em;
        }
        .navbar {
            color: var(--text);
            background-color: var(--bg);
            margin: 0px;
        }
    </style>
    <div class="navbar">
        <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Login</li>
        </ul>
        <h1>
            I use Arch btw
        </h1>
    </div>
    {{{body}}}
</body>
</html>