<section class="new-post">
    <input placeholder="Title" id="new-post-title">
    <textarea id="new-post-text" name="text" rows="10" cols="50" placeholder="Post body"></textarea>
    <h3 id="new-post-submit">Submit</h3>
    <script src="/js/newPost.js"></script>
</section>