<div class="login-block">
    <h1>Sign up to post!</h1>
    <input placeholder = "username" id="signup-user"></input>
    <input placeholder = "password" id="signup-pass"></input>
    <h1>Already have an account? Login!</h1>
    <input placeholder = "username" id="login-user"></input>
    <input placeholder = "password>" id="login-pass"></input>
</div>