<div class="login-block">
    <h1>Sign up to post!</h1>
    <input placeholder = "username" id="signup-user"></input>
    <input placeholder = "password" id="signup-pass"></input>
    <h3 id="sign-up-btn">Signup!</h3>
    <h1>Already have an account? Login here!</h1>
    <input placeholder = "username" id="login-user"></input>
    <input placeholder = "password>" id="login-pass"></input>
    <h3 id="login-btn">Login!</h3>
    <script src="/js/login.js"></script>
</div>